
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
auth.json
scripts/cookies.json
scripts/localStorage.json

# Docs
docs/sso-auth-key-points.md